.transfer-token-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.transfer-token-input{
  width: 100%;
}

.transfer-token-btn {
  margin-top: 20px !important;
  width: 30%;
  min-width: 120px !important;
}