.footer-copyright {
  color: #fff;
}

.MuiToolbar-root {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 64px !important;
}

.MuiSvgIcon-root {
  margin-right: 10px;
  cursor: pointer;
}

.footer-container {
  position: fixed !important;
  top: calc(100% - 64px);
}